ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

.dropDown {
    position: relative;
    display: inline-block;
}

.dropBtn {
    background-color: #FFFFFF;
    font-family: 'Arial Narrow';
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;
}

.dropContent {
    font-family: 'Arial Narrow';
    display: none;
    background-color: #FFFFFF;
    z-index: 1;
    text-align: center;
}

.dropContent -a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropContent a:hover {
    background-color: #e0ffe5;
}

.dropDown:hover .dropBtn {
    background-color: #e0ffe5;
}